.aboutus {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInFromTop 500ms ease-in;
}
.aboutus_heading {
  text-align: center;
}

.aboutus_para {
  text-align: center;
  line-height: 1.3;
  width: 800px;
}

.who_heading {
  margin-bottom: 12px;
}
.whoweare {
  display: flex;
  justify-content: center;
  text-align: center;
  /* flex-direction: row; */
  animation: slideInFromRight 500ms ease-in;
}

.imgcard {
  background-color: steelblue;
  width: 168px;
  height: 201px;
  /* margin: 0 12px; */
  /* margin:0 auto ; */
}
img {
  width: 100%;
  border-radius: 12px;
  height: 100%;
}

.cheading {
  margin-top: 150px;
  animation: slideInFromBottom 500ms ease-in;
}
.contactus_heading {
  text-align: center;
  margin: 21px auto;
}
.contactus img{
  width: auto;
  margin: 0 10px;

}
.small_heading {
  margin-bottom: 25px;
  padding: 5px;
  text-align: center;
}

.email {
  text-align: center;
  margin-bottom: 25px;
}
.email a {
  color: grey;
}
.contactus {
  display: flex;
  margin-bottom: 35px;
  justify-content: center;
 
}

.contactus a {
  color: black;
  background-color: #bd1f2c;
  border-radius: 10px;
  padding: 3px 15px;
  height: 34px;
  font-weight: bolder;
}

.contactus a:hover{
  background-color:rgb(4, 40, 70);
  border-radius: 10px;
}
@media (max-width: 900px) {
  .aboutus_para {
    text-align: center;
    line-height: 1.3;
    padding: 23px;
    width: 500px;
  }
}

@media (max-width: 400px) {
  .aboutus {
    margin-top: 30px;
  }
  .aboutus_para {
    width: 100%;
  }
  .whoweare {
    margin: 0px 13px;
  }
  .imgcard {
    width: 195px;
    height: 270px;
    margin: 0;
  }
  img {
    height: 100%;
  }
}
