@import url("./global.css");

.github {
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-top: 69px
}

.github-cards {
  margin-top: 42px;
}

.github-card {
  margin: 0 10px;
}

#git-imgcard {
  border-radius: 10px;
 
  width: 200px;
  height: 263px;



  animation: slideInFromLeft 500ms ease-in;
}

.img{
  height: 100%;
}
.git-btn {
  width: 168px;
  height: 28px;
  border-radius: 0 10px 0 10px;
  border: none;
  font-weight: 600;
  background-color: var(--primary-color);
  margin-left: 24px;
  color: whitesmoke;
  margin-top: 27px;
  box-shadow: 0px 0px 8px 0px #2e3948;
  text-align: center;
  padding-top: 4px;
  animation: slideInFromRight 500ms ease-in;
}
.git-btn p {
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 13px;
}

.git-btn a {
  margin-top: 2px;
  color: aliceblue;
  
 
}
.git-btn img {
  width: 33px;
  height: 30px;

}

.git-btn:hover {
  background-color: #2e3948;
}

.footer {
  margin-top: 154px;
}


/* .sagar{
  height: 227px;
}

.abhishek{
  height: 227px;
} */
@media (max-width: 650px) {
  .github {
    height: 1843px;
  }

  .github-card{
    margin: 29px 10px;
  }
  .github-cards {
    flex-direction: column;
    margin-top: 0;
   
  }


  .git-btn {
    margin: 18px auto;
  }
}
