.program{
    height: auto;
    padding-top: 61px;
}
.codeToolbar {
    background-color: #272822;
    padding: 3px;
    margin: auto;
    border-radius: 10px;
    color: aliceblue;
    width: 60vw;
    cursor: pointer;
  }
  #code {
    padding: 15px;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }