.col a:hover {
  color: rebeccapurple;
  color: rebeccapurple;
  border-bottom: 1px solid white;
}
.megacontainer {
  background: url("../images/semback.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 580px;
  filter: hue-rotate(45deg);
  align-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  position: relative;
}

.megacontainer h1 {
  margin-top: 117px;
  margin-bottom: 12px;
  animation: slideInFromLeft 300ms ease-in;
  font-weight: 700;
}

.master {
  justify-content: space-evenly;
  height: 400px;
  width: 1018px;
  margin: 0 auto;
}

.col {
  height: 315px;
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 13px 3px #333333;

  animation: slideInFromRight 300ms ease-in;
}

.col h3 {
  color: rgb(10, 10, 10);
  font-weight: 700;
}

.col ul {
  flex-direction: column;
}

.col li {
  margin: 12px 35px;
  border: 1px solid #fff;
  background: linear-gradient(358deg, #ad8ca9, #6789cd);
  border-radius: 10px;


}

.col a {
  color: #fff;
  font-size: 20px;
  /* border: 2px solid #572f59; */
  /* padding: 5px 14px; */
  width: 70px;
}

.col a:hover {
  border-radius: 10px;
  background-color: #333333;
  color: #fff;
}

@media (max-width: 900px) {
  .megacontainer {
    height: 975px;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .megacontainer h1 {
    animation: slideInFromTop 300ms ease-in;
    margin-top: 25px;
    margin-bottom: -44px;
  }

  .col {
    color: #fff;

    animation: slideInFromBottom 300ms ease-in;
  }
  .col h3 {
    color: black;
  }

  .col a {
    color: #fff;
    border-radius: 7px;
    padding: 0px 6px;
  }

  .container {
    height: 1272px;
    background-repeat: round;
  }
  .master {
    align-items: center;
    flex-direction: column;
    margin-top: 277px;
    width: auto;
  }

  .col {
    margin: 22px 0;
  }
}
